{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="card m-3">
            <h5 class="card-header">Vous êtes connecté en tant que {{ app.user.username }}</h5>
            <div class="card-body">
                <p class="card-text">Vous avez pu vous connecter grâce au système d'utilisateur de Symfony</p>
                <a href="{{ path('logout') }}" class="btn btn-primary">Déconnexion</a>
            </div>
        </div>
    {% endif %}
    <div class="info-wrapper">
        <h1>Exemple de page d'accueil</h1>
        Cette page provient de :
        <ul>
            <li>Le controlleur dans <code>/src/Controller/SiteController.php</code></li>
            <li>Le template dans<code>/templates/site/index.html.twig</code></li>
        </ul>
    </div>

    <h2>Articles récents</h2>
    <div class="d-flex flex-wrap">
    {% for post in posts %}
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Publié par {{post.author.username }}</h6>
                <p class="card-text">{{ post.content }}</p>
                <a href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-primary">Voir</a>
            </div>
        </div>
    {% else %}
        Aucun article n'a été trouvé.
    {% endfor %}
    </div>
{% endblock %}